/* util classes */
.-display-none {
  display: none;
}
.-no-margin {
  margin: 0;
}
.-flex {
  display: flex;
}
.-flex-right {
  margin-left: auto;
}
.-hidden {
  visibility: hidden;
}
/* font-weights */
.-light {
  font-weight: 300 !important;
}
.-regular {
  font-weight: 400 !important;
}
.-medium {
  font-weight: 500 !important;
}
.-bold {
  font-weight: 600 !important;
}
.-bolder {
  font-weight: 700 !important;
}
.-black {
  font-weight: 800 !important;
}
/* styles */
div.card {
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-black);
}
/* Texts */
h2.heading2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h4.heading4 {
  font-weight: 400;
  font-size: 1.8rem;
}
h5.heading5 {
  font-weight: 400;
  font-size: 1.6rem;
}
.color-grey {
  color: var(--grey);
}
.color-primary-black {
  color: var(--primary-black);
}
/* layouts */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 20px;
}

/* text */
.pre-icon {
  display: flex;
  align-items: center;
}
.pre-icon > img {
  width: 12.5px;
  height: auto;
  margin-right: 10px;
}

hr.heading-sep {
  border: 0.5px solid var(--light-grey);
  border-bottom: 0px;
  opacity: 0.5;
}

/* button */
button.btn {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0px 25px;
  height: 45px;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.icon-btn {
  display: flex;
  align-items: center;
}
.icon-btn > img.left {
  width: 12.5px;
  height: auto;
  margin-left: 12px;
}
button.btn:focus {
  outline: 0;
}
/* primary */
button.primary-btn {
  background: var(--primary-accent);
  border: 2px solid var(--primary-accent);
}
button.primary-btn:disabled {
  opacity: 0.6;
}
button.primary-btn:hover:enabled {
  background: var(--primary-accent-light);
  border: 2px solid var(--primary-accent-light);
}
button.primary-btn:focus {
  box-shadow: 0 0 0 2pt rgba(255, 169, 38, 0.3);
  /* outline: 2px solid var(--primary-accent-dark); */
  outline-offset: 1px;
}

/* outline button */
/* primary-outline */
button.primary-btn-outline {
  color: var(--primary-purple);
  background: var(--primary-white);
  border: 2px solid var(--primary-purple);
}
button.primary-btn-outline:hover {
  color: var(--primary-white);
  background: var(--dark-purple);
  border: 2px solid var(--dark-purple);
}
button.primary-btn-outline:focus {
  outline: 2px solid var(--secondary-purple);
  outline-offset: 1px;
}
button.btn > * {
  margin-bottom: 1px !important;
}
/* button spinner wrapper */
button.btn > .spinner {
  position: absolute;
}
/* icon button */
button.icon-button {
  /* background-color: transparent; */
  /* background-image: var(--sync-icon); */
  background-size: 2rem 2.2rem;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50px; */
  /* height: 50px; */
  /* border: 0px; */
}

/* Defaults */
.App {
}

.App p {
  /* margin: 0.4rem; */
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
