/* util classes */
.-display-none {
  display: none;
}
.-no-margin {
  margin: 0;
}
.-flex {
  display: flex;
}
.-flex-right {
  margin-left: auto;
}
.-hidden {
  visibility: hidden;
}
/* font-weights */
.-light {
  font-weight: 300 !important;
}
.-regular {
  font-weight: 400 !important;
}
.-medium {
  font-weight: 500 !important;
}
.-bold {
  font-weight: 600 !important;
}
.-bolder {
  font-weight: 700 !important;
}
.-black {
  font-weight: 800 !important;
}
/* styles */
div.card {
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-black);
}
/* Texts */
h2.heading2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h4.heading4 {
  font-weight: 400;
  font-size: 1.8rem;
}
h5.heading5 {
  font-weight: 400;
  font-size: 1.6rem;
}
.color-grey {
  color: var(--grey);
}
.color-primary-black {
  color: var(--primary-black);
}

/* Defaults */
.App {
}

.App p {
  /* margin: 0.4rem; */
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
