div.analytics-content {
  padding: 20px 0 0 30px;
}
div.analytics-container {
  width: 100%;
}
div.analytics-heading {
  padding-left: 18px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: var(--primary-border);
}
div.analytics-meta-info {
  padding: 0 0 var(--gap-medium) 0;
}
div.net-polarity {
  padding-right: 10%;
  margin-bottom: var(--gap-medium);
}
.polarity-score {
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--pos-green);
}
div.neg-pos {
  padding-right: 25%;
}
div.neg-pos > div {
  margin-bottom: 40px;
}
div.neg-pos > div:nth-last-child(1) {
  margin-bottom: 40px;
}
div.neg-pos-graph > * {
  margin-right: 20px;
}
div.neg-pos-graph > *:nth-last-child(1) {
  margin-right: 0;
}
