#page-not-found {
  position: relative;
  height: 110vh;
  font-family: sans-serif, 'Maven Pro';
}

#page-not-found .page-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page-not-found {
  max-width: 1000px;
  padding-left: 15px;
  width: 100%;
  line-height: 1.5;
  padding-right: 15px;
  text-align: center;
}

.page-not-found .page-notfound-404 {
  z-index: -1;
  height: 13ch;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: absolute;
}

.page-not-found .page-notfound-404 h1 {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--lighter-text);
  font-weight: 800em;
  font-size: 30em;
  padding-bottom: 25px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.page-not-found h2 {
  text-transform: uppercase;
  font-size: 5em;
  color: var(--black);
  font-weight: 800em;
  margin: 0px;
}

.page-not-found p {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--black);
  font-weight: 400;
  margin-top: 15px;
}

/* buttons */
.page-not-found a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background: var(--primary-accent-light);
  color: #fff;
  padding: 18px 38px;
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.page-not-found a:hover {
  background-color: var(--primary-accent);
  transform: translateY(4px);
}

@media only screen and (max-width: 720px) {
  .page-not-found .page-notfound-404 h1 {
    font-size: 30em;
  }
  .page-not-found h2 {
    font-size: 2.5em;
  }
  .page-not-found a {
    font-size: 10px;
  }
}

/* logo */
.bottom-logo {
  padding-top: 8vh;
}

.gen-logo {
  height: 25vh;
  opacity: 80%;
  transition: 200ms ease;
}

.gen-logo:hover {
  transform: rotate(10deg);
}
