/* CircularProgress */
.progress {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: 0.35s stroke-dashoffset;
  fill: transparent;
}
.progress-background {
  transform: rotate(102deg);
  transform-origin: 50% 50%;
  transition: 0.35s stroke-dashoffset;
  fill: var(--light-white);
  stroke: var(--primary-border-grey);
}
.progress-perc {
  font-size: 14px;
}

/* ProgressBar */
.progress-bar-container > * {
  font-weight: 400;
}
.progress-bar-container {
  width: 100%;
  display: flex;
  height: calc(100% + 25px);
}
.bar {
  position: relative;
  display: flex;
  width: calc(100% - 60px);
  /* left: 25px; */
  /* left: 30px; */
  /* height: 16px; */
  background: var(--light-white);
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--primary-border-grey);
}
.right {
  position: relative;
  width: 50%;
  height: 100%;
}
.left {
  position: relative;
  width: 50%;
  height: 100%;
}
.active {
  position: absolute;
  right: 0;
  top: -0.5px;
  height: calc(100% + 1px);
  width: 30%;
  border-radius: 5px;
}
.right-active {
  left: 0;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  animation: load 0.5s ease;
}
.left-active {
  right: 0;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  animation: load 0.5s ease;
}
.bar-divider {
  position: absolute;
  /* height: 36px; */
  width: 1px;
  background: var(--primary-border-grey);
  left: calc(50% - 0.5px);
  top: -10px;
  z-index: 1;
}
.label-wrapper {
  margin-bottom: 2px;
}
.label {
  /* position: relative; */
  font-size: 1.6rem;
  font-weight: 900;
  top: -28px;
}
.minus-label {
  /* left: -30px; */
}
.plus-label {
  /* right: -30px; */
}
@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 1;
  }
}



/*Bargraph - frequency districution*/
.card-left {
  box-shadow: 0 4px 8px 0 var(--primary-black);
  transition: 0.3s;
  width: 290%;
  height: 410px;
  border-radius: 5px;
  top: 50px;
  left: 30%;
  cursor: pointer;
  padding-left: 150px;
  position: absolute;

}

.card-left:hover {
  box-shadow: 0 8px 16px 0 var(--primary-black);
}


.topic-frequency-distribution-bargraph{
  text-align: center;
  margin-left: 70px;
  position: fixed;
  font-size: 1.5rem;

}

  .main-container {    
    background-size: 100% 100%;
    margin: 0%;
    padding: 0%;
  }

  .body{   
    top: 0%;
    left: 1%;
    display:block; 
    width: 98%;
    margin: 0%;
    height: 75%;
   
  }
  .body-left-split{
    display:inline-block;
    top: 24%;
    left: 1%;
    float: left;
    height: 100%;
    width: 15%;
    margin-right: 1%;
    position: fixed;
  
  }

  
  /*BAR GRAPH*/

  .frequency_percentage{
    float: left;
    animation: fadein 3s linear;
    bottom: -35px;
    position: absolute;
    font-size: 1.5rem;
    left: 1px;
    font-weight: bold;
  }

  .bar {
    height: 220px;
    left: -550px;
    top: 180px;
    position: absolute;
    background-color:var(--primary-white);
    border-color: white;
    z-index: -1;
    visibility: hidden;
}

.barHighlight_1{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -10px;
  bottom: 20%;
}

.progress-percentage_1 {
  width: 30px;
  animation:start-load 2s ease forwards;
  position: absolute;
  right: 0px;
  bottom: 0%;
}


.barHighlight_2{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -80px;
  bottom: 20%;
}

.progress-percentage_2 {
  width: 30px;
  position: absolute;
  right:0px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}


.barHighlight_3{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -150px;
  bottom: 20%;
}

.progress-percentage_3 {
  width: 30px;
  position: absolute;
  right: 0px;
  margin-top: -30px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}

.barHighlight_4{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -220px;
  bottom: 20%;
}

.progress-percentage_4 {
  width: 30px;
  position: absolute;
  right: -0px;
  margin-top: -30px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}

.barHighlight_5{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -290px;
  bottom: 20%;
}

.progress-percentage_5 {
  width: 30px;
  position: absolute;
  right: 0x;
  margin-top: -30px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}

.barHighlight_6{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -360px;
  bottom: 20%;
}

.progress-percentage_6 {
  width: 30px;
  position: absolute;
  right: 0px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}

.barHighlight_7{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -430px;
  bottom: 20%;
}

.progress-percentage_7 {
  width: 30px;
  position: absolute;
  right: 0px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}

.barHighlight_8{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -500px;
  bottom: 20%;
}

.progress-percentage_8 {
  width: 30px;
  position: absolute;
  right: 0px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}

.barHighlight_9{
  height: 100%;;
  width: 30px;
  background-color: #D9F0F3;
  position: absolute;
  right: -570px;
  bottom: 20%;
}

.progress-percentage_9 {
  width: 30px;
  position: absolute;
  right: 0px;
  height: 100%;
  animation:start-load 2s ease forwards;
  bottom: 0%;
}

@keyframes start-load {
    from {
        height: 0;
    }
    to {
        height: 1;
    }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  } 
} 

.barchartKeyword{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  float: left;
  transition: 0.5s; 
  font-family: Arial, Helvetica, sans-serif; 
  position: absolute;
  left: 2px;
  bottom: 20px;
  width: 100%;
  z-index: 1;
  color: #37474F;
 font-size: 17px;
}
