:root {
  --nav-width: 5rem;
}
.navbar + .navbar-page-container {
  margin-left: var(--nav-width);
  animation: slideInIn 400ms ease forwards;
}
@keyframes slideInIn {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.hamburger {
  transform: rotate(0deg);
  transition: transform 200ms;
  font-size: 2rem;
  padding: 10px 0px;
  height: 28px;
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  margin-top: 30px;
  /* background-color: var(--nav-highlight); */
  background-color: var(--auth-background);
  border-top: 1px solid var(--auth-border-color);
  border-bottom: 1px solid var(--auth-border-color);
}
.hamburger-lbl {
  margin-left: 0.5rem;
  font-weight: 400;
  display: none;
}
.hamburger-icon {
  display: flex;
  justify-content: center;
  width: var(--nav-width);
  cursor: pointer;
  position: relative;
}
.hamburger-icon > img {
  width: 16px;
  height: 20px;
  position: absolute;
  transition: 300ms ease;
  /* margin-right: 3rem; */
  object-fit: contain;
  top: -1rem;
}
.menu-icon {
  opacity: 1;
}
.close-icon {
  opacity: 0;
}
.navbar:hover .close-icon {
  opacity: 1;
}
.navbar:hover .menu-icon {
  opacity: 0;
}
.nav-logo {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
@keyframes logoPop {
  0% {
    opacity: 0;
  }
  75% {
    /* opacity: 0.5; */
  }
  100% {
    opacity: 1;
  }
}
.navbar:hover .nav-logo-wrapper {
  width: 15rem;
  opacity: 1;
  animation: logoPop 0.25s ease forwards;
}
.nav-logo-wrapper {
  opacity: 0;
  transition: 200ms ease;
  width: 0;
  height: 15rem;
  display: flex;
  justify-content: center;
  /* transition: 300ms ease; */
  align-items: center;
  border-radius: 50%;
  /* background: var(--auth-background); */
  border: 1px solid var(--auth-border-color);
  cursor: pointer;
  /* animation: spinner-border 0.75s linear infinite; */
}
.nav-logo-wrapper > img {
  width: 50%;
  transition: transform 200ms ease;
  object-fit: contain;
  cursor: pointer;
}
.nav-logo-wrapper:hover > img {
  transform: rotate(15deg);
}
.nav-logo > .logo-name {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 2rem;
  font-family: Poppins;
  font-weight: 300;
  display: none;
}
img.dropdown-arrow {
  width: 12px;
}
.sub-nav-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  /* display: none; */
  /* margin-left: 1rem; */
}
.navbar:hover .hamburger {
  /* transform: rotate(-180deg); */
}
.navbar {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: var(--nav-width);
  height: 100vh;
  position: fixed;
  background-color: var(--nav-background);
  transition: width 200ms ease;
  top: 0;
  z-index: 9999;
  /* cursor: pointer; */
}
.navbar-nav {
  list-style: none;
  padding: 1px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}

.parent-link {
  position: relative;
  margin-bottom: -1.5px;
}
.navbar-sub-nav {
  /* display: none; */
  /* position: relative; */
  opacity: 0;
  visibility: hidden;
  /* white-space: nowrap; */
  height: 0px;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 0px;
  transition: 200ms ease;
  /* transition-delay: 50ms; */
  border-top: 1px solid var(--nav-border-sep);
  border-bottom: 1px solid var(--nav-border-sep);
}
.parent-link-clicked .navbar-sub-nav {
  /* display: block; */
  white-space: normal;
  padding: 5px 0 5px 0px;
  visibility: visible;
  opacity: 1;
  height: auto;
  border-top: 1px solid var(--nav-border-sep);
  border-bottom: 1px solid var(--nav-border-sep);
}
.parent-link-clicked .nav-link-icon {
  transform: rotate(180deg);
}
@keyframes slideIn {
  from {
  }
  to {
  }
}
.nav-link-active {
  color: var(--nav-hover-link-color) !important;
  background-color: var(--nav-link-hover-background);
}
.sub-nav-link-active > li.nav-sub-item {
  /* background-color: #a2c6fc30; */
  color: var(--nav-hover-link-color);
}
.sub-nav-link-active a {
  color: var(--nav-hover-link-color);
}
.nav-sub-item:hover {
  /* background-color: #000; */
  /* background-color: #0f2e5d; */
  /* background-color: #a2c6fc30; */
}
.nav-sub-item {
  /* width: 100%; */
  /* margin-bottom: 15px; */
  padding-left: 6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  /* width: fit-content; */
  overflow: hidden;
}
.nav-sub-item:last-child {
  margin-top: auto;
}

.nav-item {
  width: 100%;
  /* border-bottom: 1px solid black; */
  /* border-top: 1px solid black; */
}
.nav-item:last-child {
  margin-top: auto;
  /* border-top: 0px; */
}
.nav-item:first-child {
  margin-top: auto;
  /* border-bottom: 0px; */
}
.nav-link {
  display: flex;
  align-items: center;
  height: var(--nav-width);
  color: rgb(245, 245, 245);
  font-size: 1.8rem;
  text-decoration: none;
  margin-bottom: 2px;
  transition: 200ms ease;
}

.nav-link:last-child {
  margin-bottom: 0px;
}
.nav-link-icon {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 6rem;
  transition: transform 200ms ease;
  /* margin-left: 1rem; */
  top: 2rem;
  right: 51px;
  position: absolute;
}
.navbar-sub-nav:hover .nav-link-icon {
  transform: rotate(180deg);
}
.nav-link:hover .nav-link-icon {
  transform: rotate(180deg);
}
.nav-link:hover {
  /* background-color: #0f2e5d; */
  color: var(--nav-hover-link-color);
  /* text-decoration: underline; */
  /* font-weight: 600; */
  transition: background-color 200ms ease;
  background-color: var(--nav-link-hover-background);
}
.sub-nav-link-icon {
  transition: 200ms ease;
}
.sub-nav-link:hover {
  color: var(--nav-hover-link-color);
  /* background-color: #a2c6fc30; */
}
.sub-nav-link:hover .sub-nav-link-icon {
  /* margin-left: 10px; */
  transform: translateX(10px);
  /* background-color: #a2c6fc30; */
}
.sub-nav-link {
  /* color: #fff; */
  color: rgb(245, 245, 245);
  text-decoration: none;
  /* width: 150px; */
  width: 100%;
}
.sub-link-text {
  width: 150px;
  min-width: 150px;
  overflow: hidden;
  /* white-space: nowrap; */
}
.link-text {
  display: none;
  margin-left: 0.5rem;
}

.navbar:hover {
  width: 30rem;
}
.dropright-arrow {
  width: 9px;
}

.navbar:hover .nav-link-icon {
  visibility: visible;
}
.navbar:hover .link-text {
  display: block;
}
.navbar:hover .hamburger-lbl {
  display: block;
}
.navbar:hover .nav-link-icon {
  display: flex;
}
.navbar:hover .nav-logo {
  visibility: visible;
}
.navbar:hover .nav-icon {
  margin-left: 2rem;
}
.navbar:hover .hamburger {
  padding-left: 2rem;
}
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--nav-width);
  /* margin-left: 1rem; */
}
.nav-icon > img {
  width: 20px;
}
.nav-link:hover .nav-icon {
  opacity: 1;
}
.nav-link .nav-icon {
  opacity: 0.88;
}
.nav-link-active .nav-icon {
  opacity: 1;
}
@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 600px) {
}
.navbar:hover .nav-propic {
  width: 3.2rem;
  height: 3.2rem;
  transition: 200ms ease;
}
.nav-propic {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  transition: 200ms ease;
}
.nav-user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: height 750ms ease;
}
.nav-propic-wrapper {
  background: #0000001a;
  border: 0.5px solid #17325a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;
}
.nav-profile-wrapper {
  background: #214273;
  padding-top: 0;
  padding-bottom: 0;
  transition: 300ms ease;
  animation: nav-user-reveal 400ms ease forwards;
}
@keyframes nav-user-reveal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.nav-profile-hidden {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  /* height: 0 !important; */
  overflow: hidden;
  transition: 300ms ease;
  animation: nav-user-conceal 400ms ease forwards;
}
@keyframes nav-user-conceal {
  from {
    /* max-height: auto !important; */
    transform: scale(1);
  }
  to {
    /* max-height: 0 !important; */
    height: 0;
    opacity: 0;
    transform: scale(0);
  }
}
.nav-user-det {
  width: 0;
  overflow: hidden;
  opacity: 0;
  margin-left: 0;
  display: flex;
  padding-left: 0;
  border-left: 1px solid #173766;
  flex-direction: column;
  transform: translateX(-13px);
}
.nav-username {
  font-size: 2.1rem;
  font-weight: 300;
}
.nav-user-logout {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-accent);
}
.navbar:hover .nav-propic-wrapper {
  padding: 6px;
}
.navbar:hover .nav-profile-wrapper {
  background: #214273;
  padding-bottom: 10px;
  padding-top: 15px;
  height: auto;
}
.navbar:hover .nav-user-det {
  padding-left: 14px;
  margin-left: 14px;
  width: auto;
  /* overflow: hidden; */
  opacity: 1;
  transform: translateX(0);
  transition: 350ms ease;
}
.navbar:hover .nav-user-wrapper {
  background: transparent;
  border: 0.5px solid transparent;
  border-radius: 0;
}
