.fancy-heading-decorator {
  position: relative;
  margin-top: 8px;
}
.fancy-heading-decorator::before {
  content: '';
  left: 2px;
  top: -16px;
  position: absolute;
  width: 60px;
  border-top: 3px solid var(--primary-accent);
}
.fancy-heading-decorator-none {
  position: relative;
  margin-top: 8px;
}
