.main-body {
  top: 0%;
  left: 0%;
  margin: 0%;
  height: 100vh;
}

.body-split {
  margin-top: 140px;
  margin-left: 80px;
}

.card-heading-name-left {
  margin-left: 45%;
}

.card-heading-name-right {
  margin-left: 40%;
}

.cards-split {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-gap: 20px;
}

.card-left {
  display: block;
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
  background-color: var(--analytics-card);
  width: 700px;
  height: 420px;
}

.card-right {
  display: block;
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
  background-color: var(--analytics-card);
  width: 700px;
  height: 420px;
}

@keyframes trend_animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.topic-frequency-distribution-bargraph {
  text-align: center;
  font-size: 2rem;
  color: var(--black);
  font-weight: bold;
  left: 370px;
}

.keywords-topic {
  text-align: center;
  left: -120px;
  font-size: 2rem;
  color: var(--black);
  font-weight: bold;
}

.header {
  top: 0%;
  left: 1%;
  display: block;
  width: 98%;
  margin: 0%;
  height: 25%;
}

.header-right-split {
  float: right;
}

.navElements {
  margin-right: 350px;
  font-weight: bold;
  font-family: Monospace;
  font-size: 18px;
  color: var(--primary-black);
}

.animated_heading {
  position: relative;
  display: grid;
  grid-gap: 20px;
  bottom: -130px;
  margin-left: 80px;
  font-size: 1.5rem;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 54em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* [>BAR GRAPH<] */

.frequency_percentage {
  float: left;
  animation: fadein 3s linear;
  font-size: 1.5rem;
  left: 1px;
  font-weight: bold;
  top: 230px;
  display: flex;
  position: absolute;
}

.frequency-bars {
  height: 220px;
  background-color: var(--primary-white);
  border-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 120px;
}

.barHighlight {
  height: 100%;
  width: 30px;
  background-color: #d9f0f3;
  margin-right: 40px;
  position: relative;
}

.barchart_animation {
  animation: start_load 2s ease forwards;
}

@keyframes start_load {
  from {
    height: 0;
  }
  to {
    height: 1;
  }
}

.progress-percentage {
  width: 30px;
  display: flex;
  position: absolute;
  bottom: 0px;
}

.barchartKeyword {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  float: left;
  transition: 0.5s;
  font-family: rubik;
  width: 100%;
  z-index: 1;
  color: #37474f;
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  right: -5px;
}

.analyze_again {
  display: flex;
  flex-wrap: wrap;
  margin-top: -3%;
  margin-right: 320px;
}

.colourful_mobilePhone {
  margin-left: 15%;
  opacity: 0.8;
  height: 31.25vw;
  width: 45vw;
}

@media screen and (min-width: 100px) {
  .analysing_banner {
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.loader_progress {
  position: absolute;
  top: 50%;
  left: 48%;
}
@media screen and (min-width: 150vh) {
  .line_loader {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: -150px;
    bottom: -170px;
  }
}

.line_progress {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 5px;
  width: 2px;
  height: 15px;
}

.line_progress:nth-child(1) {
  background: #27ae60;
}

.line_progress:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.line_progress:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.line_progress:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}

.loader_description {
  display: grid;
  margin-top: 20px;
  margin-left: -80px;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Bradley Hand, cursive;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typewriter_loadingDescription {
  from {
    width: 0;
  }
  to {
    width: 49%;
  }
}

.wrapper_progressBar {
  width: 620px;
  max-width: 50%;
  display: grid;
  margin-top: 10%;
  margin-left: 0%;
}

/* Circular rect loader */

.loader-5 {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.loader-5-rect {
  height: 30px;
  width: 30px;
  background: var(--pos-green);
  animation-name: flash;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loader-5-rect-1 {
  animation-delay: 0s;
}

.loader-5-rect-2 {
  animation-delay: 0.3s;
}

.loader-5-rect-3 {
  animation-delay: 0.6s;
}

.loader-5-rect-4 {
  animation-delay: 0.4s;
}

@keyframes flash {
  0% {
    background: white;
  }

  1% {
    background: white;
  }

  51% {
    background: white;
  }
}

.treeMap_align {
  margin-left: -190px;
  margin-top: 100px;
}

@keyframes zoomin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
