.main-body {
  top: 0%;
  left: 0%;
  margin: 0%;
  height: 100vh;
  position: sticky;
}

.body-split {
  margin-top: 100px;
  margin-left: 80px;
}

.card-heading-name-left {
  margin-left: 45%;
}

.card-heading-name-right {
  margin-left: 40%;
}

.cards-split {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-gap: 20px;
}

.card-left {
  display: block;
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
  background-color: var(--analytics-card);
  width: 700px;
  height: 420px;
}

.card-right {
  display: block;
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
  background-color: var(--analytics-card);
  width: 700px;
  height: 420px;
}

@media only screen and (max-width: 1500px) {
  .card-left {
    margin-left: 14%;
  }
  .card-right {
    margin-left: 14%;
  }
}

@media only screen and (max-width: 550px) {
  .card-left {
    width: 300px;
    height: 200px;
    margin-left: -20px;
    margin-top: -48px;
  }
  .card-right {
    width: 300px;
    height: 200px;
    margin-left: -20px;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 500px) {
  .card-topic {
    margin-left: -50px;
  }
}

@keyframes trend_animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.topic-frequency-distribution-bargraph {
  text-align: center;
  font-size: 2rem;
  color: var(--black);
  font-weight: bold;
  left: 370px;
}

.keywords-topic {
  text-align: center;
  left: -120px;
  font-size: 2rem;
  color: var(--black);
  font-weight: bold;
}

.header {
  top: 0%;
  left: 1%;
  display: block;
  width: 98%;
  margin: 0%;
  height: 25%;
}

.header-right-split {
  float: right;
}

.navElements {
  margin-right: 350px;
  font-weight: bold;
  font-family: Monospace;
  font-size: 18px;
  color: var(--primary-black);
}

.animated_heading {
  position: relative;
  display: grid;
  grid-gap: 20px;
  bottom: -130px;
  margin-left: 80px;
  font-size: 1.5rem;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 54em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* [>BAR GRAPH<] */

.frequency_percentage {
  float: left;
  animation: fadein 3s linear;
  font-size: 1.5rem;
  left: 1px;
  font-weight: bold;
  top: 230px;
  display: flex;
  position: absolute;
}

@media only screen and (max-width: 550px) {
  .frequency_percentage {
    top: 115px;
    font-size: 1rem;
  }
}

.frequency-bars {
  height: 220px;
  background-color: var(--primary-white);
  border-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 120px;
}

@media only screen and (max-width: 550px) {
  .frequency-bars {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 0px;
    flex-wrap: nowrap;
  }
}

.barHighlight {
  height: 100%;
  width: 30px;
  background-color: #d9f0f3;
  margin-right: 40px;
  position: relative;
}

@media only screen and (max-width: 550px) {
  .barHighlight {
    width: 13px;
    position: relative;
    margin-right: 15px;
    height: 110px;
  }
}

.barchart_animation {
  animation: start_load 2s ease forwards;
}

@keyframes start_load {
  from {
    height: 0;
  }
  to {
    height: 1;
  }
}

.progress-percentage {
  width: 30px;
  display: flex;
  position: absolute;
  bottom: 0px;
}

@media only screen and (max-width: 550px) {
  .progress-percentage {
    width: 13px;
  }
}

.barchartKeyword {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  float: left;
  transition: 0.5s;
  font-family: rubik;
  width: 100%;
  z-index: 1;
  color: #37474f;
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  right: -5px;
}

@media only screen and (max-width: 550px) {
  .barchartKeyword {
    right: 0.2px;
    font-size: 0.9rem;
  }
}

@keyframes startbtn-effect_analyzeAgain {
  0% {
    left: 0%;
  }
  50% {
    left: 20%;
  }

  100% {
    left: 0%;
  }
}

.analyze_again {
  margin-top: 20%;
  animation-name: startbtn-effect_analyzeAgain;
  animation-duration: 3s;
  animation-iteration-count: 1;
  width: 100%;
  max-width: 10%;
  max-height: 180%;
  position: relative;
}

@media only screen and (max-width: 1500px) {
  .analyze_again {
    margin-left: 50%;
    margin-top: 20%;
    position: relative;
  }
}

@media only screen and (max-width: 550px) {
  .analyze_again {
    margin-left: 10%;
    margin-top: 30%;
    position: relative;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .analyze_again {
    margin-left: 10%;
    margin-top: 30%;
    position: absolute;
  }
}

.colourful_mobilePhone {
  margin-left: 10%;
  margin-top: -8%;
  opacity: 0.8;
  height: 420.28px;
  width: 619.48px;
}

@media only screen and (max-width: 600px) {
  .colourful_mobilePhone {
    width: 440px;
    height: 350px;
    padding-right: 50%;
  }
}

@media only screen and (max-width: 1500px) {
  .colourful_mobilePhone {
    width: 440px;
    height: 350px;
    margin-left: -30px;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1500px) {
  .trend_description_align {
    margin-left: 350px;
    width: 50vw;
    max-width: 60vw;
    margin-top: -60%;
  }
}

@media only screen and (max-width: 550px) {
  .trend_description_align {
    margin-left: 10%;
    margin-top: 50%;
    position: static;
  }
}

@media only screen and (max-width: 500px) {
  .trend_description_align {
    margin-left: 10%;
    margin-top: 50%;
    position: static;
  }
}

.userTrendDescription {
  position: relative;
  top: 100px;
}

@media screen and (min-width: 100px) {
  .analysing_banner {
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.loader_progress {
  margin-top: 5%;
  margin-left: 30%;
  display: grid;
  grid-gap: 20px;
  position: absolute;
}

.process_gif {
  width: 384px;
  height: 384px;
  margin-left: 5%;
  margin-top: -10%;
}

@media only screen and (max-width: 1500px) {
  .process_gif {
    width: 244.8px;
    height: 244.8px;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1500px) {
  .loader_progress {
    margin-top: 160px;
    margin-left: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .loader_progress {
    margin-top: -60px;
    margin-left: 20px;
  }
}

.line_loader {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 45%;
  top: 60%;
}

.line_progress {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 8px;
  width: 6px;
  height: 35px;
}

@media only screen and (max-width: 1500px) {
  .line_loader {
    margin-right: -10px;
    margin-top: -50px;
  }
}

.line_progress:nth-child(1) {
  background: #27ae60;
}

.line_progress:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.line_progress:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.line_progress:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}

.loader_description {
  display: grid;
  margin-top: -20%;
  margin-left: 20%;
  font-size: 1.8rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .loader_description {
    margin-left: 20px;
    margin-top: 40%;
    position: static;
    width: 120%;
  }
}

@keyframes typewriter_loadingDescription {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.wrapper_progressBar {
  width: 620px;
  max-width: 50%;
  display: grid;
  margin-top: 5%;
  margin-left: 20%;
}

@media only screen and (max-width: 500px) {
  .wrapper_progressBar {
    margin-left: -40px;
  }
}

/* Circular rect loader */

.loader-5 {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.loader-5-rect {
  height: 30px;
  width: 30px;
  background: var(--pos-green);
  animation-name: flash;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loader-5-rect-1 {
  animation-delay: 0s;
}

.loader-5-rect-2 {
  animation-delay: 0.3s;
}

.loader-5-rect-3 {
  animation-delay: 0.6s;
}

.loader-5-rect-4 {
  animation-delay: 0.4s;
}

@keyframes flash {
  0% {
    background: white;
  }

  1% {
    background: white;
  }

  51% {
    background: white;
  }
}

.treeMap_align {
  margin-left: -160px;
  margin-top: 80px;
  width: 110%;
}

@media only screen and (max-width: 550px) {
  .treeMap_align {
    margin-left: -100px;
    margin-top: -20px;
    width: 140%;
    height: 40%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/*****************************************************************************************/
.wifi-symbol {
  display: none;
  display: block;
  position: absolute;
  display: inline-block;
  -ms-transform: rotate(-45deg) translate(-100px);
  -moz-transform: rotate(-45deg) translate(-100px);
  -o-transform: rotate(-45deg) translate(-100px);
  -webkit-transform: rotate(-45deg) translate(-100px);
  transform: rotate(-45deg) translate(-100px);
}

@media only screen and (max-width: 500px) {
  .wifi-symbol {
    margin-left: 100px;
  }
}

.wifi-circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 1em 1em 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0.8;
  -o-animation: wifianimation 1s infinite;
  -moz-animation: wifianimation 1s infinite;
  -webkit-animation: wifianimation 1s infinite;
  animation: wifianimation 1s infinite;
  color: var(--pos-green);
}

.first {
  animation-delay: 1ms;
}
.second {
  width: 5em;
  height: 5em;
  animation-delay: 400ms;
}
.third {
  width: 3em;
  height: 3em;
}
.fourth {
  width: 1em;
  height: 1em;
  opacity: 0;
  animation: none;
}

@-o-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-moz-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-webkit-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
