.main-body {
  top: 0%;
  left: 0%;
  margin: 0%;
  height: 100vh;
}

.body-split {
  margin-top: -50px;
  margin-left: 80px;
}

.card-heading-name-left {
  margin-left: 45%;
}

.card-heading-name-right {
  margin-left: 40%;
}

.cards-split {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-gap: 20px;
}

.card-left {
  display: block;
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
  background-color: var(--analytics-card);
  width: 700px;
  height: 420px;
}

.card-right {
  display: block;
  border: 1px solid var(--primary-border-grey);
  border-radius: 6px;
  background-color: var(--analytics-card);
  width: 700px;
  height: 420px;
}

@media only screen and (max-width: 1500px) {
  .card-left {
    margin-left: 18%;
  }
  .card-right {
    margin-left: 18%;
  }
}

@media only screen and (max-width: 600px) {
  .card-left {
    width: 300px;
    height: 200px;
    margin-left: -20px;
    margin-top: 30px;
  }
  .card-right {
    width: 300px;
    height: 200px;
    margin-left: -20px;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 600px) {
  .card-topic {
    margin-left: -50px;
  }
}

@keyframes trend_animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* [>BAR GRAPH<] */

.frequency_percentage {
  float: left;
  animation: fadein 3s linear;
  font-size: 1.5rem;
  left: 1px;
  font-weight: bold;
  top: 230px;
  display: flex;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .frequency_percentage {
    top: 115px;
    font-size: 1rem;
  }
}

.frequency-bars {
  height: 220px;
  background-color: var(--primary-white);
  border-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 120px;
}

@media only screen and (max-width: 600px) {
  .frequency-bars {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 0px;
    flex-wrap: nowrap;
  }
}

.barHighlight {
  height: 100%;
  width: 30px;
  background-color: #d9f0f3;
  margin-right: 40px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .barHighlight {
    width: 13px;
    position: relative;
    margin-right: 15px;
    height: 110px;
  }
}

.barchart_animation {
  animation: start_load 2s ease forwards;
}

@keyframes start_load {
  from {
    height: 0;
  }
  to {
    height: 1;
  }
}

.progress-percentage {
  width: 30px;
  display: flex;
  position: absolute;
  bottom: 0px;
}

@media only screen and (max-width: 600px) {
  .progress-percentage {
    width: 13px;
  }
}

.barchartKeyword {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  float: left;
  transition: 0.5s;
  font-family: rubik;
  width: 100%;
  z-index: 1;
  color: #37474f;
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  right: -5px;
}

@media only screen and (max-width: 600px) {
  .barchartKeyword {
    right: 0.2px;
    font-size: 0.9rem;
  }
}

@keyframes startbtn-effect_analyzeAgain {
  0% {
    left: 0%;
  }
  50% {
    left: 20%;
  }

  100% {
    left: 0%;
  }
}

.analyze_again {
  margin-top: 20%;
  margin-left: -10%;
  animation-name: startbtn-effect_analyzeAgain;
  animation-duration: 3s;
  animation-iteration-count: 1;
  width: 100%;
  max-width: 10%;
  max-height: 180%;
  position: relative;
}

@media only screen and (max-width: 1500px) {
  .analyze_again {
    margin-left: 50%;
    margin-top: 15%;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .analyze_again {
    margin-left: 10%;
    margin-top: 30%;
    position: relative;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .analyze_again {
    margin-left: 10%;
    margin-top: 30%;
    position: absolute;
  }
}

.colourful_mobilePhone {
  margin-left: 10%;
  margin-top: -8%;
  opacity: 0.8;
  height: 450.28px;
  width: 619.48px;
}

@media only screen and (max-width: 600px) {
  .colourful_mobilePhone {
    width: 440px;
    height: 350px;
    padding-right: 50%;
  }
}

@media only screen and (max-width: 1500px) {
  .colourful_mobilePhone {
    width: 440px;
    height: 350px;
    margin-left: 85px;
    margin-top: 10%;
  }
}

.trend_description_align {
  margin-left: -10%;
}

@media only screen and (max-width: 1500px) {
  .trend_description_align {
    margin-left: 350px;
    width: 45vw;
    max-width: 60vw;
    margin-top: -60%;
  }
}

@media only screen and (max-width: 600px) {
  .trend_description_align {
    margin-left: 10%;
    margin-top: 50%;
    position: static;
  }
}

@media only screen and (max-width: 500px) {
  .trend_description_align {
    margin-left: 10%;
    margin-top: 50%;
    position: static;
  }
}

.userTrendDescription {
  position: relative;
  top: 100px;
}

@media screen and (min-width: 100px) {
  .analysing_banner {
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  }
}

.loader_progress {
  margin-top: 5%;
  margin-left: 30%;
  display: grid;
  grid-gap: 20px;
  position: absolute;
}

.process_gif {
  width: 384px;
  height: 384px;
  margin-left: 5%;
  margin-top: -10%;
}

@media only screen and (max-width: 1500px) {
  .process_gif {
    width: 244.8px;
    height: 244.8px;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1500px) {
  .loader_progress {
    margin-top: 60px;
    margin-left: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .loader_progress {
    margin-top: -60px;
    margin-left: 20px;
  }
}

.loader_description {
  display: grid;
  margin-top: -15%;
  margin-left: 17%;
  font-size: 1.8rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 1500px) {
  .loader_description {
    margin-left: 20px;
    margin-top: 10%;
    position: static;
    width: 120%;
  }
}

@media only screen and (max-width: 600px) {
  .loader_description {
    margin-left: 20px;
    margin-top: 40%;
    position: static;
    width: 120%;
  }
}

@keyframes typewriter_loadingDescription {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.treeMap_align {
  margin-left: -160px;
  margin-top: 80px;
  width: 110%;
}

@media only screen and (max-width: 600px) {
  .treeMap_align {
    margin-left: -100px;
    margin-top: -20px;
    width: 140%;
    height: 40%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
