.menu-card {
  position: relative;
  min-width: 300px;
  max-width: 350px;
  width: 40vw;

  height: 60vh;
  margin: 20px;
  padding: 10px;
  font-size: 0.8em;

  margin-left: 20%;
  margin-top: 100px;
  border: 2px solid rgb(36, 36, 36);
}

article.startcard {
  border: 2px solid rgb(189, 42, 42);
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px rgb(92, 92, 92);
  overflow: hidden;
}

article.startcard .startcard-img {
  height: 40vh;
  position: relative;
  border: 2px solid rgb(42, 64, 189);
}
.startcard-menu-img {
  border: 2px solid rgb(233, 132, 132);
  position: absolute;
  min-width: 100px;
  max-width: 200px;
  width: 20vw;
  top: 10%;
  left: 70px;
}

article.startcard .startcard-info {
  width: auto;
  height: 65vh;
  padding: 14px 24px;
  background: rgb(235, 234, 234);
  transition: 0.5s 0.15s;
}
article.startcard .startcard-info .startcard-title {
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
  font-family: 'Grotesque Black', sans-serif;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(36, 36, 36);
}

article.startcard .startcard-info .startcard-sub-title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #000000;
  font-family: 'Grotesque Black', sans-serif;
  font-size: 1.5em;
  text-shadow: 0 0 0px #32577f;
}
article.startcard .startcard-info .startcard-sub-title {
  display: inline-block;

  opacity: 1;
  transition: 0.5s 0.25s cubic-bezier(50, 100, 100, 100);
}

article.startcard .startcard-info .startcard-text {
  font-family: 'Merriweather', sans-serif;

  font-size: 1.5rem;
  color: rgba(21, 37, 54, 0.7);

  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(50, 100, 100, 100);
}

article.startcard .startcard-info .startcard-start {
  text-align: right;
}

article.startcard .startcard-info .startcard-start-btn {
  position: relative;

  margin: 10px 0;
  padding: 10px 24px;
  letter-spacing: 1px;
  color: #4e958b;
  font-family: 'Grotesque Black', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(50, 100, 100, 100);
}

article.startcard:hover .startcard-info {
  transform: translateY(-20vh);
}
article.startcard:hover .startcard-info .startcard-sub-title,
article.startcard:hover .startcard-info .startcard-text,
article.startcard:hover .startcard-info .startcard-start-btn {
  opacity: 1;
}
